.o_report_rd_tax_report {
    font-family: "THSarabun";
    font-size: 17px;
    color: #000;

    h3,
    h4 {
        font-weight: 700;
        margin-bottom: 4px;
    }

    .row {
        margin-bottom: 2px;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        th {
            background-color: #d0d1d3;
            border: 1px solid black;
            padding: 1px;
            vertical-align: middle;
            line-height: 1.1;
        }

        td {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding: 3px;
            vertical-align: top;
            line-height: 1.1;
        }
    }
}
